<p>A companion book for the <a href="https://modding-openmw.com/lists/expanded-vanilla/">Expanded Vanilla</a> and <a href="https://modding-openmw.com/lists/total-overhaul/">Total Overhaul</a> mod lists of <a href="https://modding-openmw.com/">Modding-OpenMW.com</a>.</p>
<div class="center">
  <a href="/img/an-nwahs-guide-to-modern-culture-and-mythology.png"><img src="/img/an-nwahs-guide-to-modern-culture-and-mythology.png" title="The Fabled Book" /></a>
  <a href="/img/an-nwahs-guide-to-modern-culture-and-mythology-npc.png"><img src="/img/an-nwahs-guide-to-modern-culture-and-mythology-npc.png" title="The NPC" /></a>
  <a href="/img/an-nwahs-guide-to-modern-culture-and-mythology-dialogue1.png"><img src="/img/an-nwahs-guide-to-modern-culture-and-mythology-dialogue1.png" title="Dialogue" /></a>
  <a href="/img/an-nwahs-guide-to-modern-culture-and-mythology-dialogue2.png"><img src="/img/an-nwahs-guide-to-modern-culture-and-mythology-dialogue2.png" title="More dialogue" /></a>
</div>
<h4 id="install">Installation:</h4>
<ol>
  <li>Download the zip from the link above (OpenMW 0.48.0 or newer is required!)</li>
  <li>Extract the contents to a location of your choosing, examples below:
    <pre><code># Windows
C:\games\OpenMWMods\Books\NwahsGuide

# Linux
/home/username/games/OpenMWMods/Books/NwahsGuide

# macOS
/Users/username/games/OpenMWMods/Books/NwahsGuide</code></pre>
  </li>
  <li>Add the appropriate data path to your <code>openmw.cfg</code> file, for example:
    <pre><code>data="C:\games\OpenMWMods\Books\NwahsGuide"</code></pre>
  </li>
  <li>Enable the mod plugin via OpenMW-Launcher (<a href="https://www.youtube.com/watch?v=xzq_ksVuRgc">video</a>), or add this to <code>openmw.cfg</code> (<a href="https://openmw.readthedocs.io/en/latest/reference/modding/mod-install.html#install">official OpenMW documentation</a>):
    <pre><code>content=an-nwahs-guide-to-modern-culture-and-mythology.omwaddon</code></pre></li>
  <li>An NPC named <code>johnnyhostile</code> will be waiting for you outside of the Census and Excise offices after starting a new game, he is standing by the wall. Talk to him to receive the guide. He will leave after one week.</li>
</ol>
